body {
  background: url(./img/sowa.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 100vh;
  font-size: 10px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center input {
  background: rgba(221, 221, 221, 0.931);
  outline: none;
  border: none;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 10rem;
  width: 150px;
}
p {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 7px 7px 15px #dabbd0, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(224, 209, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  background: rgba(117, 56, 28, 0.753);
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(2, 2, 2, 0.3);
}
@media only screen and (max-width: 560px) {
  p {
    font-size: 1.4rem;
  }
}
